@font-face {
  font-family: montessarat-bold;
  src: url("../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../styles/Montserrat-UltraLight.otf");
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  font-family: "Montserrat";
  outline: none;
}
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}
.topNavigation a {
  text-decoration: none;
}
.logoPosition {
  width: 123px;
  margin-top: 7px;
  float: left;
}

h2 {
  margin: auto;
  text-align: center;
}

.slick-dots li {
  margin: 0px !important;
}
.slick-dots {
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
  background-color: white !important;
}

.slick-dots li button:before {
  border: 2px solid white !important;
  border-radius: 100px !important;
  height: 5px;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px !important;
  height: 4px !important;
  content: " " !important;
  text-align: center;
  opacity: 0.25;
  color: white !important;
  -webkit-font-smoothing: antialiased;
}

.slider {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */
  transition: all 0.5s ease-in-out;
}

.styles_modalCenter__L9F2w {
  margin: auto;
  border-radius: 8px;
  height: auto;
}

*:focus {
  outline: none;
}

.slickPreviousDiv {
  background-color: #ffd22a;
  border-radius: 17px;
  height: 25px;
  width: 25px;
  margin-left: -4px;
}

.slickPreviousIcon {
  font-size: 25px;
  color: black;
  margin-left: 7px;
}

.slickNextIcon {
  font-size: 25px;
  color: black;
  margin-left: 9px;
}

pre {
  margin: 0;
  font-family: "Montserrat";
}
@media only screen and (max-width: 700px) {
  body {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  html {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .mobSolution {
    display: block !important;
    padding: 10px !important;
  }
  .stickyHeaderPolicy {
    position: relative !important;
    z-index: 99 !important;
  }

  .component {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .liMenuSlide {
    display: grid;
    grid-gap: 30%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: montessarat-ultralight;
    font-weight: bold;
  }
  .logoPosFirstComponent {
    display: block;
    margin: auto;
    width: 138px;
    margin-bottom: 71px;
  }
  .mobileHeaderSticky {
    padding: 20px;
  }
  .styles_modal__gNwvD.styles_modalCenter__L9F2w {
    margin: auto;
    border-radius: 8px;
    height: 86vh;
    overflow: hidden;
    width: 80% !important;
    height: 93% !important;
    overflow: scroll !important;
  }

  .styles_closeIcon__1QwbI {
    padding: 10px;
  }
  .styles_closeButton__20ID4 {
    top: 25px;
  }
  .modalNav {
    display: flex !important;
    flex-direction: row;
    top: 40px;
    left: 20px;
    height: 41px;
    width: 214px;
  }
  .activeMenu {
    font-size: 24px !important;
    background-color: #352ab7;
    color: white;
  }
  .slick-slider {
    margin-top: 20px;
    height: 420px;
  }
  .slick-slide.slick-active.slick-current {
    margin-top: 10px;
  }
  .ourStuffButton {
    text-decoration: none;
    background: #352ab7;
    color: white !important;
    font-weight: bold;
    padding: 6px;
    font-size: 16px;
    text-align: center;
    margin: 1% auto;
    width: 32px;
  }

  .menuHitUsUp {
    margin-left: 30px;
  }

  .weHaveProof {
    margin-top: 30px;
  }
  .fourthComponentSlider {
    margin-top: 140px;
    height: 53%;
    width: 278%;
    border: 1.12px solid #3429b7;
    border-radius: 8.96px;
    background-color: #ffffff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
  }

  .styles_modal__gNwvD {
    width: 91% !important;
    animation: none !important;
    overflow: hidden;
  }
  .theirName {
    font-size: 11px;
  }
  @keyframes slide-in {
    to {
      width: 100% !important;
    }
  }

  .slickWrap {
    margin-top: 24%;
    width: 100%;
    margin-left: 0px;
  }
  .fourthSlick {
    margin-left: 17% !important;
    margin-top: 27% !important;
    width: 33% !important;
    height: 96% !important;
  }
  .fourthCompSecSlid {
    margin-left: 23px !important;
    width: 280px !important;
    margin-top: 0px;
  }

  .dlvrstftitle {
    display: none;
  }

  .homeList {
    margin-top: 25%;
    display: flex;
    position: relative;
    right: 25px;
  }

  .topNavigation {
    position: fixed;
    top: 36px;
    left: 8%;
    width: 96%;
    z-index: 99;
    transition: top 0.6s;
  }
  .navbarHidden {
    display: block !important;
  }
  .slick-track {
    top: 3%;
  }
  .policiesWrap {
    padding: 10px 15px !important;
    margin-top: 0px !important;
  }
  .copyRight {
    position: absolute;
    margin: 0px;
    top: 85%;
    width: 100%;
    font-size: 12px;
    color: #303030;
    left: 1%;
    opacity: 40%;
    text-align: center;
  }

  .demobutton {
    display: none;
  }

  .slick-arrow.slick-prev {
    z-index: 99 !important;
  }

  .leftNavBar {
    margin-right: 0% !important;
  }

  .modalTransition {
    height: 0% !important;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
  .fourthCompSecSlid {
    margin-left: 87% !important;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1883px) {
  .thirdSectionData {
    height: 550px !important;
  }
}

@media screen and (min-width: 1884px) {
  .thirdSectionData {
    height: 550px !important;
  }
  .firstCompDiv {
    margin-left: 41% !important;
  }
  .thirdCompSlider {
    height: 46% !important;
  }
  .thirdSectionDescriptionWrap {
    height: 500px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }

  .thirdSectionDescription {
    margin-top: 16px;
  }
  .thirdCompSlider img {
    width: 100%;
  }
  .weHaveProof {
    left: 44%;
  }
  .thirdSectionData {
    margin-top: 5%;
  }

  .fourthCompSecSlid {
    margin-left: 94% !important;
  }
  .fourthComponentSlider .slick-prev {
    margin-left: 5px;
  }

  .CTAbuttons {
    margin-top: 10%;
  }
  .ThirdSection {
    height: 2100px !important;
  }
  .thirdSectionDataCase {
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 350px) {
  .styles_modal__gNwvD {
    width: 95% !important;
    font-size: 20px !important;
  }
}
