.layoutContainer {
  background: black;
  height: 100vh;
}
.ant-layout-sider-children {
  margin: 0;
  height: 100vh;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo,
.colorLogo {
  height: 32px;
  margin: 16px;
}
.horizontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.align {
  display: flex;
  flex-direction: row;
}
.main {
  margin: 0px 2px;
  z-index: 0;
}
.ant-menu-item::after {
  border-right: 2px solid white !important;
}
.site-layout .site-layout-background {
  background: #fff;
}
.ag-theme-balham {
  display: none;
}
.anticon svg {
  width: 22px;
  height: 22px;
}
.upgrade {
  height: 32vh;
}
.userLogo {
  width: 40px;
  height: 40px;
  margin: 16px;
}
.ant-layout-sider-collapsed {
  display: none;
}
.verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 10px;
  margin: 10px 10px;
}
.headingContainer,
.toggleTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
}
.toggleTable {
  top: 5px;
  position: relative;
}
.alignCenter {
  top: 20px;
  position: relative;
}

.heading {
  margin: 10px 10px;
  opacity: 0.7;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.newArrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 2px 25px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.thingsToDo {
  color: #1890ff;
}

.tableClass {
  border: 1;
  width: 100wh;
}
.done {
  color: green;
}
.parent {
  top: 20px;
  position: relative;
}
@media only screen and (min-width: "800px") and(orientation: landscape) {
  .layoutContainer {
    height: 132vh;
  }
}
